

/* Cài đặt giao diện CSS đẹp hơn cho trang web của bạn */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
/* CSS cho phần main */
main {
  padding-bottom: 60px; /* Đảm bảo phần nội dung trong main không bị che khuất bởi footer */
}


section {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
/* CSS cho phần footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
